---
layout: default.html
---

#set( $format = "MMM dd, yyyy" )

	<div class="typology-section">
		<div class="section-content home">
			<header class="entry-header clearfix">
				<p class="entry-title entry-title-cover-empty h2">
					$category.name
				</p>
				<div class="post-letter">$category.name.substring(0, 1)</div>
			</header>
			<ul
				class="wp-block-rss is-grid columns-2 columns-2"
				style="list-style: none">
			 #if( $paginator.totalPages > 0)
   		 #foreach( $post in $paginator.posts )
				<li class="wp-block-rss__item">
					<div class="wp-block-rss__item-title" style="line-height: 1.4">
						<a class="h5" style="color: rgba(0, 0, 0, 0.8)" href="$post.url">$post.title</a>
					</div>
					<span class="wp-block-rss__item-author" style="margin-top: 8px">
					<span>In </span>
					#foreach ($category in $post.categories)
					<span>
						#if( $velocityCount > 1 )
						<span>,</span>
						#end
						<a href="$category.url">$category.name</a>
					</span>
					#end
					<span> - $dateUtils.format($post.created, $format)</span>
				</span>
				</li>
				#end
    		#end
			</ul>
		</div>
	</div>
